/*
 * NAVBAR CSS WITH WHITE BACKGROUND
 */
nav{
  height:70px;
  line-height:70px;
}

.nav-wrapper{
  background:white;
  height:100%;
}
nav ul{
  margin-right:20px;
}
nav ul a{
  color:#0a6f22;
  font-size:23px;
}
nav .brand-logo{
  color:#0d7d73;
  margin-left:30px;
}
/*
 * NAV BAR CONTAINER ENDS HERE
 */
/*
 * PARALLAX CONTAINER CSS AND OVERLAY TEXT AND SHADING FOR IMAGE
 */
.parallax-container{
  position:relative;
  width:100%;
  height:450px;
}
.overlay{
  position:absolute;
  top:0;
  left:0;
  display:none;
  background-color:red;
  z-index:200;
}
.parallax-text{
  position:absolute;
  top:150px;
  left:20px;
  width:100%;
  font-size:30px;
  color:#fff;
}
.parallax-container::after{
  content:'\A';
  position:absolute;
  width:50%;
  height:100%;
  top:0px;
  left:0px;
  background:rgba(33,33,33,0.4);
}
/*
 * END OF PARALLAX CONTAINER CSS
 */

.header{
  font-size:37px;
  font-weight:bold;
  letter-spacing:0.5px;
  color:#000;
  font-family:sans-serif;
}
.para{
  color:#000;
  font-size:22px;
  font-family:sans-serif;
}
/*
 * FOOTER CSS
 */
footer{
  margin-top:30px;
}
footer h5{
  font-size:22px;
  height:50px;
  line-height:40px;
}
.page-footer{
  background-color:gray;
}
footer ul li{
  display:inline;
}
footer ul li a{
  font-size:18px;
  margin-left:3px;
  line-height:60px;
}

